*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-family: 100%;
  letter-spacing: 1px;
}
.container{
    width:100%;
    height: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding:0px 20px;
}
.comments-container {
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
}   
li{
    list-style-type: none;
}
.comment{
    background-color:white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px #bcbccc;
}
.comment .email {
    font-size: 16px;
    color: #2f334D;
}
.comment .name{
    font-size: 16px;
    color:#BcBc9c;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.comment .message{
    font-size: 20px;
    letter-spacing: 1px; 
}
.comment .num{
    color:chartreuse;
}
.comments-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
@media  screen and (min-width:760px){
    .comments-container{
        
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
    
}